# Frontend API base URL
VITE_API_BASE_URL=http://localhost:5000/api

# Google Identity Services OAuth client ID (Web application)
VITE_GOOGLE_CLIENT_ID=647437966024-0ubbv4rmbennr1some8g5o2agr3poanh.apps.googleusercontent.com
VITE_EMAILJS_PUBLIC_KEY=your_public_key_here
VITE_EMAILJS_SERVICE_ID=service_abc1234

VITE_EMAILJS_TEMPLATE_ORDER_CONFIRMATION=template_xxxxxxx
VITE_EMAILJS_TEMPLATE_ORDER_CANCELLATION=template_xxxxxxx
# VITE_EMAILJS_TEMPLATE_REVIEW_OWNER=template_xxxxxxx
# VITE_EMAILJS_TEMPLATE_FAQ_OWNER=template_xxxxxxx